body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}